You've made it to root

<div class="links_list">
  <%= links.each do |link| %>
    <div class="link_item">
      <%= link.title %>
      <%= link.name %>
      <%= link.read %>
    </div>
  <% end %>

</div>
