/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
 }

div#brand {
  width: 100%;
}

#brand {
  width: 50%;
  text-align: center;
}


#create_new_link {
  display: block;
  width: 100%;
  margin-bottom: 50px;
}

#create_new_link > * {
  width: 50%;
  text-align: center;
}

.login_logout_bar {
  padding: 10px 10px
}

.links_list {
  display: block;
  width: 100%;
}

.links_list .link_item {
  width: 50%;
  border-radius: 10px;
  text-align: center;
}
.link_item {
  margin: 10px;
  height: 100px;
  background-color: #e3e3e3;
  vertical-align: middle;
  position: relative;
}

div.read-status {
  display: block;
}

.link_controlls > * {
  margin-bottom: -10px;
  display: inline;
}
.read {
  background-color: grey;
  font-weight: 200;
  text-decoration: line-through;
}

.hidden {
  display: none;
}


/*
.links_list {

}

.link_item {

}*/
