<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div>
    <h3>Welcome to URL Lockbox</h3>
  </div>
  <%= yield %>
</div>

</body>
</html>
